# App Settings
WEBUI_NAME=UNSRAT-ELEVAI
WEBUI_LOGO_URL=https://i.ibb.co/ynrp3hTN/LOGO.png

# Ollama Settings
OLLAMA_BASE_URL=http://172.17.0.1:11434

# Google OAuth Settings
ENABLE_OAUTH_SIGNUP=true
OAUTH_CLIENT_ID=your-google-client-id-here.apps.googleusercontent.com
YOUR_CLIENT_SECRET=your-google-client-secret-here
OPENID_PROVIDER_URL=https://accounts.google.com/.well-known/openid-configuration
OAUTH_PROVIDER_NAME=Google UNSRAT
ALLOWED_EMAIL_DOMAINS=student.unsrat.ac.id,unsrat.ac.id
OAUTH_REDIRECT_URI=http://192.168.1.2.nip.io:3000/oauth/oidc/callback
OAUTH_PROMPT=select_account
